# From https://raw.githubusercontent.com/tinyfpga/TinyFPGA-BX/master/apio_template/pins.pcf
# pcf in the Icestorm example folder is wrong. What a waste of time that discovery was...

# Left side of board
set_io --warn-no-port PIN_1 A2
set_io --warn-no-port PIN_2 A1
set_io --warn-no-port PIN_3 B1
set_io --warn-no-port PIN_4 C2
set_io --warn-no-port PIN_5 C1
### pin6, NC
set_io --warn-no-port io_in[0] D2
### pin7, NC
set_io --warn-no-port io_in[1] D1
### pin8, NC
set_io --warn-no-port io_in[2] E2
### pin9, NC
set_io --warn-no-port io_in[3] E1
### pin10, NC
set_io --warn-no-port io_in[4] G2
### pin11, NC
set_io --warn-no-port io_in[5] H1
### pin12, NC
set_io --warn-no-port io_in[6] J1
### pin13, NC
set_io --warn-no-port io_in[7] H2

# Right side of board
set_io --warn-no-port PIN_14 H9
set_io --warn-no-port PIN_15 D9
set_io --warn-no-port PIN_16 D8
### pin17_ss, 7seg digit A
set_io --warn-no-port io_out[0] C9
### pin18, 7seg digit B
set_io --warn-no-port io_out[1] A9
### pin19, 7seg digit C
set_io --warn-no-port io_out[2] B8
### pin20, 7seg digit D
set_io --warn-no-port io_out[3] A8
### pin21, 7seg digit E
set_io --warn-no-port io_out[4] B7
### pin22, 7seg digit F
set_io --warn-no-port io_out[5] A7
### pin23, 7seg digit G
set_io --warn-no-port io_out[6] B6
### pin24, NC
set_io --warn-no-port io_out[7] A6

# SPI flash interface on bottom of board
set_io --warn-no-port SPI_SS F7
set_io --warn-no-port SPI_SCK G7
set_io --warn-no-port SPI_IO0 G6
set_io --warn-no-port SPI_IO1 H7
set_io --warn-no-port SPI_IO2 H4
set_io --warn-no-port SPI_IO3 J8

# General purpose pins on bottom of board
set_io --warn-no-port PIN_25 G1
set_io --warn-no-port PIN_26 J3
set_io --warn-no-port PIN_27 J4
set_io --warn-no-port PIN_28 G9
set_io --warn-no-port PIN_29 J9
set_io --warn-no-port PIN_30 E8
set_io --warn-no-port PIN_31 J2

# LED
set_io --warn-no-port LED B3

# USB
set_io --warn-no-port USBP B4
set_io --warn-no-port USBN A4
set_io --warn-no-port USBPU A3

# 16MHz clock
set_io --warn-no-port TINY_CLK B2 # input
